<h1 class="jumbotron text-center mb-5 mt-5">❤️ La team de TGP ❤️</h1>

<div class="row justify-content-center">
<div class="card mb-3 mt-5  mx-auto  mb-5 w-25" >
  <h3 class="card-header">Thibault Clerc</h3>
  
  <img style="height:200px;" class="rounded-circle mx-auto mt-5" src="https://avatars1.githubusercontent.com/u/63822323?s=460&v=4" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">Paris</h5>
    <h6 class="card-subtitle text-muted">25 ans</h6>
  </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
  </ul>
  <div class="card-body">
    <a href="https://github.com/ThibaultClerc" target="_blank"><span class="badge badge-pill badge-primary">Github</span></a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="card mb-3 mt-5  mx-auto  mb-5 w-25">
  <h3 class="card-header">Damien Banville</h3>
  
  <img style="height:200px;" class="rounded-circle mx-auto mt-5" src="https://avatars1.githubusercontent.com/u/67627489?s=460&v=4" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">Paris</h5>
    <h6 class="card-subtitle text-muted">25 ans</h6>
  </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
  </ul>
  <div class="card-body">
    <a href="https://github.com/DamVador" target="_blank"><span class="badge badge-pill badge-primary">Github</span></a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>